[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
molecule = { version = "*", extras = ["lint","docker"]}
pre-commit = "*"

[packages]
# FIXME - Move to ansible-core, once out of pre-release
ansible-base = "*"

[requires]
python_version = "3.9"
